@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-grid {
    display: grid;
}

header .panel-container {
    background-color: #1d2124;
    height: 72px;
}

header .logo {
    margin-left: 20px;
}

header .logo a {
    font-family: "Open Sans";
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    margin-left: 20px;
}

header .panel a {
    font-family: "Open Sans";
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding-right: 37px;
}

header .search {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(228deg) brightness(102%) contrast(101%);
    text-decoration: none;
    margin-right: 30px;
}

header .parallax-container {
    background-image: url(img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .parallax-container .news p {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 30px;
    color: #fff;
}

header .parallax-container .buttons {
    margin-top: 40px;
}

header .parallax-container .buttons button {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    height: 55px;
    width: 150px;
    cursor: pointer;
}

header .parallax-container .buttons .green button {
    background-color: #89ca62;
    margin-right: 20px;
}

header .parallax-container .buttons .blue button {
    background-color: #14b9d5;
}

section .posts-text p {
    color: #40bfd5;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
}

section .img-container {
    font-family: "Open Sans";
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    gap: 35px;
    display: flex;
}

section .img-container .text {
    background-color: #fff;
    text-align: center;
    height: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

section .img-container .text p {
    padding-top: 20px;
    height: 35px;
}

section .img-container img:hover {
    cursor: pointer;
}

section .img-container .first-block .second-img {
    margin-top: 30px;
}

section .img-container .second-block .fourth-img {
    margin-top: 30px;
}

section .img-container .third-block .sixth-img {
    margin-top: 30px;
}

section .parallax-popular {
    background-image: url(img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}

section .parallax-popular .grid-popular {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 60px;
}

section .parallax-popular .grid-popular .grid-item1 p {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    margin-bottom: 50px;
}

section .parallax-popular .grid-popular .grid-item1 {
    text-align: center;
    grid-column: 1 / 5;
}

section .top-rated .text p {
    color: #40bfd5;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
}

section .top-rated .grid-rated {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

section .top-rated .grid-rated img {
    width: 100%;
}

section .hot-news .text p {
    color: #40bfd5;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
}

section .hot-news .grid-news {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

section .hot-news .grid-news .grid-item-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    margin-left: 355px;
}

section .hot-news .grid-news .grid-item-1 .text-1 {
    padding: 40px 25px;
    background-color: #f9f7f7;
    width: 375px;
    height: 180px;
}

section .hot-news .grid-news .grid-item-1 .text-1 .title {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
}

section .hot-news .grid-news .grid-item-1 .text-1 .paragraph {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    color: #70787c;
    padding: 25px 0px;
}

section .hot-news .grid-news .grid-item-2 {
   max-width: 280px; 
   margin-left: 35px;
}

section .hot-news .grid-news .grid-item-2 .text-2 {
    background-color: #f9f7f7;
    text-align: center;
    height: 16px;
    padding: 15px 0px;
}

section .hot-news .grid-news .grid-item-2 .text-2 .title {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
    margin-top: -5px;
}

section .hot-news .grid-news .grid-item-3 {
    margin-top: 40px;
 }

section .hot-news .grid-news .grid-item-3 .text-3 .title {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
}

section .hot-news .grid-news .grid-item-3 .text-3 .paragraph {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    color: #70787c;
    padding: 25px 0px;
}

footer .text-logo {
    background-color: #1d2124;
    height: 72px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

footer .text-logo .left-text p {
    color: #fff;
    font-family: "Open Sans";
    font-size: 10px;
}

